apiVersion: apps/v1
kind: Deployment
metadata:
  name: openwebui-deployment
  namespace: sotongpt
  labels:
    app: openwebui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: openwebui
  template:
    metadata:
      labels:
        app: openwebui
    spec:
      initContainers:
        - name: wait-for-postgres
          image: busybox
          command: ['sh', '-c', 'until nc -z postgres-service 5432; do echo waiting; sleep 2; done;']
      containers:
        - name: openwebui
          image: ghcr.io/open-webui/open-webui:main
          ports:
            - containerPort: 8080
          env:
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_USER
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: postgres-config
                  key: POSTGRES_DB
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: DATABASE_URL
              value: postgres://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@postgres-service:5432/$(POSTGRES_DB)
            - name: VECTOR_DB
              value: pgvector
            - name: DATABASE_ENABLE_SESSION_SHARING
              value: "True"
          resources:
            requests:
              cpu: 1
              memory: 1Gi
            limits:
              cpu: 8
              memory: 16Gi
          volumeMounts:
            - name: openwebui-storage
              mountPath: /app/backend/data
      volumes:
        - name: openwebui-storage
          persistentVolumeClaim:
            claimName: openwebui-pvc
