apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qwen3-0-6b
  namespace: sotongpt
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  volumeMode: Filesystem
