apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: deepseek-r1-qwen-32b
  namespace: sotongpt
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 64Gi
