apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tiny-llama
  namespace: sotongpt
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 64Gi
