apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mistral-8x7b
  namespace: sotongpt
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  volumeMode: Filesystem
