apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-background-tasks-pvc
  namespace: sotongpt
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
