apiVersion: v1
kind: PersistentVolume
metadata:
  name: ollama-background-tasks-pv
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /opt/sotongpt/ollama-background-tasks
    type: DirectoryOrCreate
