apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama-background-tasks-deployment
  namespace: sotongpt
  labels:
    app: ollama-background-tasks
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama-background-tasks
  template:
    metadata:
      labels:
        app: ollama-background-tasks
    spec:
      containers:
        - name: ollama
          image: ollama/ollama:latest
          ports:
            - containerPort: 11434
          resources:
            requests:
              cpu: 1
              memory: 2Gi
            limits:
              cpu: 2
              memory: 4Gi
