apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qwen2-5-14b-instruct
  namespace: sotongpt
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 64Gi
