apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qwen2_5-14b-instruct
  namespace: sotongpt
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  volumeMode: Filesystem
