apiVersion: apps/v1
kind: Deployment
metadata:
  name: vllm-qwen2_5-14b-instruct-deployment
  namespace: sotongpt
  labels:
    app: vllm-qwen2_5-14b-instruct-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vllm-qwen2_5-14b-instruct-deployment
  template:
    metadata:
      labels:
        app: vllm-qwen2_5-14b-instruct-deployment
    spec:
      volumes:
        - name: cache-volume
          persistentVolumeClaim:
            claimName: qwen2_5-14b-instruct
        - name: shm
          emptyDir:
            medium: Memory
            sizeLimit: 16Gi
      containers:
        - name: vllm
          image: vllm/vllm-openai:v0.14.1
          args:
            - Qwen/Qwen2.5-14B-Instruct
            - --host
            - 0.0.0.0
            - --port
            - "8000"
            - --gpu-memory-utilization
            - "0.90"
          ports:
            - containerPort: 8000
          env:
            - name: VLLM_LOGGING_LEVEL
              value: INFO
          resources:
            limits:
              cpu: "4"
              memory: 12Gi
              nvidia.com/gpu: "1"
            requests:
              cpu: "2"
              memory: 6Gi
              nvidia.com/gpu: "1"
          volumeMounts:
            - name: cache-volume
              mountPath: /root/.cache/huggingface
            - name: shm
              mountPath: /dev/shm
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            periodSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            periodSeconds: 5
            failureThreshold: 3
          # let's the container have 15 minutes to launch before k8s tries to
          # say that it's broken/not launching
          startupProbe:
            httpGet:
              path: /health
              port: 8000
            periodSeconds: 5
            failureThreshold: 180
